# Created by .ignore support plugin (hsz.mobi)
.idea/hydra.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
.idea/vcs.xml
Would skip repository SlickPractice/
project/target
target/
u02/

